.BuildControls{

width: 100%;
/* background-color: #cf8f2e; */
background-color: #f7f7f7;
display: flex;
flex-flow: column;
align-items: center;
box-shadow: 0 2px 1px #cccccc;
margin: auto;
padding: 5px 0;

}

.OrderButton {
 /*    background-color: rgb(218, 207, 53); */
 border: none;
 background-color: #f9e02a;
 outline: none;
 cursor: pointer;
 font: inherit;
 margin: 10px 10px 10px 0;
 font-weight: 1000;
 font-family: inherit;
 padding: 15px 30px;
 border-radius: 7.5px;
 width: 20%;
}

@media(max-width:499px){
    .OrderButton {
        width: 69%;
    }

}




.OrderButton:hover, .OrderButton:active {
/*     background-color: #A0DB41; */
background-color: #ffd900;
/*     border: 1px solid #966909; */
   /*  color: #966909; */
   border: 1px solid #cccccc;
   color: #222;
   border-radius: 5px;
}

.OrderButton:disabled {
    background-color: #dbdfe2;
    cursor: not-allowed;
    color: #b3b6b8;
}

.OrderButton:not(:disabled) {
    animation: enable 0.3s linear;
}

@keyframes enable {
    0% {
        transform: scale(1);
    }
    60% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}
.totalprice{
    margin-left: 3px;
    margin-top: 33px;
    background-color: #85b308;
    color: #fff;
    border-radius: 5px;
    padding: 4px;
    font-weight: 1000;
}



