.Posts {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;
    margin: auto;
}

@media (min-width:600px){

    .Posts {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        width: 80%;
        margin: auto;
    }

}