.Orders{

    display: inline;

    border: 1px solid #CCC;
    -webkit-box-shadow: 0 2px 3px #ccc;
    box-shadow: 0 2px 3px #ccc;
    padding: 50px;
 
    
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: white;


   
    /* box-sizing: border-box; */

    color: #444;
}