.Input{

    width: 100%;
    padding: 10px;
    box-sizing: border-box;
     
}

.Label{
    font-weight: bold;
    display: block;
    margin-bottom: 8px
}




.InputElement{

    outline: none;
    color: #666;
    background-color: #f7f7f7;
    font: inherit;
    padding: 10px;
    display: block;
    width: 100%;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid #d6dbdf;
    margin-bottom: 10px;

}





.Invalid {

  
    border-bottom: 2px solid red
}
.InputElement:focus{
    outline: none;
    border-bottom: 2px solid yellow
}
.ValidationError {
    color: red;
    margin: 5px 0;
} 